<%= simple_form_for comment do |f| %>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= f.input :body, placeholder: 'Write your comment here', label: false,  input_html: { class: "textarea"}%>
        </p>
      </div>
      <%= f.hidden_field 'commentable_type', value: comment.commentable_type %>
      <%= f.hidden_field 'commentable_id', value: comment.commentable_id %>
      <nav class="level mb-2 is-justify-content-flex-end">
        <div class="level-right">
          <div class="level-item">
            <%= f.button :submit, 'Comment', class: 'button is-info', remote: true %>
          </div>
        </div>
      </nav>
    </div>
  </article>
<% end %>
