<aside class="navigation menu">
  <ul class="menu-list">
    <li class="brand">
      <%= link_to fa_icon('twitter 3x', class: 'fa-fw mr-1', base: "square-o"), root_path %>
    </it>
    <li>
      <%= link_to fa_icon('home', class: 'fa-fw mr-1', text: 'Home'), root_path %>
    </li>
    <li>
      <a>Followers Feed</a>
    </li>
    <li>
      <a>Profile</a>
    <li>
    <li class="bottom-area">
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>
    <li>
  </ul>
</aside>
