<!DOCTYPE html>
<html>
  <head>
    <title>MiniTwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container mt-5">
      <div class="columns is-mobile">
        <div class="column is-one-quarter">
          <%= render 'layouts/navigation' %>
        </div>
        <div class="column is-two-quarter box content">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>

        <div class="column is-one-quarter">

        </div>
      </div>
    </div>
  </body>
</html>
